[defaults]
bin_ansible_callbacks = true
callback_enabled = profile_roles, profile_tasks, timer
callback_result_format = yaml
interpreter_python = auto_silent
inventory = inventory
nocolor = 0
retry_files_enabled = false
stdout_callback = default

[ssh_connection]
pipelining = true
