---
- name: Install MacOS Packages
  become: false
  gather_facts: false
  hosts: default

  tasks:

    - name: Install Homebrew packages
      community.general.homebrew:
        name:
          - age
          - ansible
          - ansible-lint
          - aspell
          - bash
          - binutils
          - coreutils
          - curl
          - difftastic
          - diffutils
          - direnv
          - dive
          - entr
          - findutils
          - fzf
          - gdu
          - git
          - git-crypt
          - git-delta
          - git-extras
          - git-lfs
          - glances
          - gnutls
          - go
          - gum
          - helm
          - htop
          - jless
          - jq
          - k9s
          - kubernetes-cli
          - less
          - lzip
          - maven
          - openjdk
          - openssh
          - openssl
          - p7zip
          - pandoc
          - ripgrep
          - rsync
          - shellcheck
          - sops
          - ssh-copy-id
          - tmux
          - tmuxp
          - tree
          - vim
          - watch
          - wget
          - yq
        state: present

    - name: Install Homebrew GNU packages
      community.general.homebrew:
        name:
          - gnu-sed
          - gnu-tar
          - gnu-which
          - grep
          - gzip
        state: present

    - name: Install Homebrew Cask packages
      community.general.homebrew_cask:
        name:
          - font-fira-code-nerd-font
          - font-hack-nerd-font
          - font-meslo-lg-nerd-font

          - ghostty

          - keepingyouawake
          - maccy
          - rectangle
          - scroll-reverser

          # - dropbox
          # - google-backup-and-sync
          # - iterm2
          # - karabiner-elements

          - 1password
          - 1password-cli

          - docker
          - firefox
          - google-chrome
          - emacs
          - visual-studio-code
          - xquartz

          # - basictex
          # - yed

          # - discord
          # - signal
          # - slack
          # - webex-meetings
        state: present
